/*=========================================
GLOBAL
=========================================*/

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



/*=========================================
FIN GLOBAL
=========================================*/

/*=========================================
NAVBAR
=========================================*/

.navbar{
    height:50px;
    display:flex;
    flex-wrap:wrap;
    background-color: rgb(104, 212, 203);
    padding: 0px;
    margin: auto;
    justify-content: space-between;
    position:sticky;
    top: 0px;
    z-index: 1;
    
 }

 .navbar div{
     text-align: center;
     display:flex;
     flex-wrap: wrap;
     justify-content: left;
     margin-top: 10px;
 
 }
 .navbar div h3{
    padding-left: 15px;
    font-size:25px;
    color: white;
    height:auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    
 }
.navbar div a{
    font-size: 25px;
    color: black;
    height:auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}
.containerLogo{
    height:0px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    position:sticky;
    top: 50px;
    z-index: 1;

   
 }

 .containerLogo div{
     text-align: center;
     flex-wrap: wrap;
     justify-content: left;
     
   
 
 }

.containerLogo div a img{

   
    height:80px;
    padding-left:120px;
    position:sticky;
    top: 50px;
  
    
}
.navbarButtons a{
    font-size:35px;
    color: rgb(104, 212, 203);
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    padding-right: 60px;
    text-align: center;
    line-height: center;
    position:sticky;
    top: 50px;
    z-index: 1;
  
   

}
.navbarButtons:active{
    text-decoration: none;
}
.slider{

    position:relative;
    background-size: fill;
    left: 0;
    top:0;
    width: 100%;
 
    
}

/*=========================================
FIN NAVBAR
=========================================*/
.cuerpo{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:grey;
}

/*=========================================
BOTON DE BOOK
=========================================*/
.cajaBoton{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 100%;
    

}
.botonBook {
    
 
    width: 50%;
    height: 60px;
    background-color: rgb(104, 212, 203);
    position: relative;
    border: 1px solid black;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    margin: 20px;
    padding:20px;
    font-weight: 100;
   

}


/*=========================================
FIN BOTON DE BOOK
=========================================*/

/*=========================================
ARTICLE
=========================================*/
article{
    margin:50px 250px;
}
article .texto{
    display:"flex";
    flex-wrap: wrap;
    flex-direction:"row";
    justify-content:center;
    width:100%;

}
article .texto h1{
    display:"flex";
    font-size:40px;
    color:rgb(104, 212, 203) ;
    text-align:center;
    font-family: 'Montserrat Alternates', sans-serif;
    margin:50px;

}
article .texto p{
    
    font-size:15px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    width:100%;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*=========================================
autos
=========================================*/

.autos{
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: flex-start;
   

}
article .autos img{
    width:180px;
}
article .autos .auto1{
    order: 0;
    flex:1 1 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: auto;
    width:50px;
    height: 100px;
    
}
article .autos .auto2{
    order: 0;
    flex:1 1 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: auto;
    width:50px;
    height: 100px;
   
}
article .autos .auto3{
    order: 0;
    flex:1 1 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: auto;
    width:50px;
    height: 100px;
 
}
article .autos .auto4{
    order: 0;
    flex:1 1 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: auto;
    width:50px;
    height: 100px;
   
}
article .autos .auto5{
    order: 0;
    flex:1 1 auto;
    font-family: 'Montserrat Alternates', sans-serif;
    align-self: auto;
    width:50px;
    height: 100px;
   
}

/*=========================================
FIN DE autos
=========================================*/

/*=========================================
FIN DE ARTICLE
=========================================*/















/*=========================================
USO DE COLUMNAS (ALTERNATIVO)
=========================================*/


.fila{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}
[class*="col-"]{

    float: left;
    /*-border:1px solid black;-*/
    padding: 10px;
}
/*=========================================
FIN GLOBAL
=========================================*/

#logo{
    position:fixed;
    height:60px;
    width:200px;
    flex-wrap: none;
    z-index: 1;
}




/*=========================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)
=========================================*/
@media(min-width:1350px){

    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.66666667%;}
    .col-lg-10{width: 83.33333333;}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.33333333%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.66666667%;}
    .col-lg-4{width: 33.33333333333%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-1{width: 8.33333333%;}

}
/*=========================================
PANTALLA DE ESCRITORIO MEDIANA - MEDIUM (md)
=========================================*/
@media(max-width:1199px) and (min-width:992px){

    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%;}
    .col-md-10{width: 83.33333333;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333333%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.66666667%;}
    .col-md-4{width: 33.33333333333%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}
  

}
/*=========================================
PANTALLA DE TABLET - SMALL(sm)
=========================================*/
@media(max-width:991px) and (min-width:768px){

    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.66666667%;}
    .col-sm-10{width: 83.33333333;}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.33333333%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.66666667%;}
    .col-sm-4{width: 33.33333333333%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667%;}
    .col-sm-1{width: 8.33333333%;}
  

}
/*=========================================
PANTALLA DE PHONES - EXTRA SMALL(xs)
=========================================*/
@media(max-width:767px){

    .col-xs-12{width: 100%;}
    .col-xs-11{width: 91.66666667%;}
    .col-xs-10{width: 83.33333333;}
    .col-xs-9{width: 75%;}
    .col-xs-8{width: 66.66666667%;}
    .col-xs-7{width: 58.33333333%;}
    .col-xs-6{width: 50%;}
    .col-xs-5{width: 41.66666667%;}
    .col-xs-4{width: 33.33333333333%;}
    .col-xs-3{width: 25%;}
    .col-xs-2{width: 16.66666667%;}
    .col-xs-1{width: 8.33333333%;}

}